.wrapper {
    overflow: hidden;
    border-radius: 100%;
    border: 3px solid transparent;
    transition: all .3s ease;

    
    .image {
        width: 100%;
        height: 100%;
        user-select: none;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
        }

        .image_el {
            position: relative;
            z-index: 3;
        }
        .label {
            position: relative;
            z-index: 3;
            color: #fff;
            font-weight: 700;
        }
    }
}

.wrapper.active {
    border-color: var(--light_blue);
}