.wrapper {
    .ex {
        text-align: center;

        span {
            color: var(--light_blue);
            font-weight: 600;
            cursor: pointer;
        }
    }

    .itgr {
        // margin-top: 20px;

        .item {
            // margin: 0 5px;
            padding: 15px;
            border-radius: 20px;
            background-color: #eaeaea;
            transition: all .3s ease;
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;   
            }

            &:hover {
                background-color: var(--bisq);
            }

            &:active {
                transform: scale(0.95);
            }

            .icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                margin-right: 15px;
                font-size: 40px;
                line-height: 40px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }

            .label {
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
            }
        }
    }

    .terms {
        margin-top: 15px;
        text-align: center;
        color: #aaa;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;

        a {
            text-decoration: underline;
            color: var(--light_blue);

            &:hover {
                color: lightskyblue;   
            }
        }
    }
}