* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat Alternates', sans-serif;

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--blue);
    }

    &::-webkit-scrollbar {
        background-color: var(--bisq);
        width: 8px;
    }
}

a {
    text-decoration: none;
    font: inherit;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

button, input, textarea {
    border: none;
    background-color: unset;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
    background-color: var(--bisq);
    font-size: 16px;
    line-height: 19px;
    color: var(--text);
}


.panel {
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
}

.page-title {
    margin-bottom: 30px;
    color: var(--blue);
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
}



//product slider pagination
.pag {
    bottom: 20px;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;

    .pag__item {
        margin: 0 5px;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        opacity: .5;
        display: block;
        flex: 0 0 auto;
        cursor: pointer;
        background-color: #fff;
        transition: all .3s ease;
    }

    .pag__item.active {
        opacity: 1;
        transform: scale(1.5);
    }
}


