.wrapper {
    
    .body {

        .action {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: -10px;
            margin-left: -10px;
            margin-bottom: 25px;
            
            .item {
                margin: 0 10px;
            }
        }

        .main {

            .title {
                font-size: 25px;
                line-height: 30px;
                font-weight: 700;
            }

            .descr {
                word-wrap: break-word;
            }

            .keywords {
                display: flex;
                flex-wrap: wrap;
                margin-left: -5px;
                margin-right: -5px;

                .keywords_item {
                    margin: 0 5px;
                    margin-bottom: 10px;
                }
            }

            .ex {
                display: flex;
                align-items: center;
                justify-content: space-between;

                // .button.button_save {
                //     display: none;
                // }
                .button {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {

        .body {

            .action {
                // .item.save {
                //     display: none;
                // }
            }

            .main {
                .title {
                    font-size: 20px;
                    line-height: 30px;
                }

                .ex {
                    // flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;

                    .author {
                        width: 100%;
                    }

                    .button {
                        // width: 100%;
                        margin-left: 10px;

                        a, button {
                            // width: 100%;
                        }
                    }

                    // .button.button_save {
                    //     display: block;
                    // }
                }
            }
        }
    }
}