.wrapper {
  p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }

  a {
    margin: 0 10px;
    color: var(--light_blue);
    transition: all .3s ease;
    font-weight: 500;

    &:hover {
      color: lightskyblue;
    }
  }
  
}