.wrapper {
  p {
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
    li {
      margin-bottom: 10px;
    }
  }
  h3 {
    color: var(--blue);
    margin-bottom: 10px;
  }
  a {
    color: var(--blue);
    &:hover {
      text-decoration: underline;
    }
  }
}